/*Text Inter light
  Names Libre Baskerville bold*/

.Testimonials {
	padding: 10% 5%;
}

.testim {
	border-radius: 50%;
	width: 70px;
}

.testimonial-col {
	padding: 3.55%;
	font-family: 'Inter', sans-serif;	
}

h5 {
	font-family: 'Libre Baskerville', serif;
}

.designation {
	font-size: 13px;
}